<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content>
    <div class="fw-semibold fs-4 mb-3">
        Edit song
    </div>
    <div class="mb-3">
        <label class="form-label" for="songName">Title:</label>
        <input class="form-control"
               id="songName"
               formControlName="name"
               aria-describedby="songNameInvalid">
        <div class="form-text" id="songNameInvalid" *ngIf="songNameIsInvalid">
            Title is invalid. Minimum length is 5 symbols
        </div>
    </div>
    <div class="mb-3">
        <app-audio-control formControlName="audioId"></app-audio-control>
    </div>
    <button class="btn btn-primary"
            type="submit"
            [disabled]="formIsInvalid">
        Submit</button>

    <button class="btn btn-primary mx-2" (click)="onClose($event)">Close</button>
</form>
