<div style="width: fit-content" #songElement is-selected="false" [id]="'song_' + song.id" (click)="onSelectSong(song.id)">
    <div class="canvas-container">
        <canvas [id]="'canvas_' + song.id"></canvas>
    </div>
    <div class="content-container">
        <div class="image-container px-1">
            <img class="rounded-3" [src]="song.photoPath" />
        </div>
        <div class="d-flex flex-column px-2">
            <div class="mb-1">
                {{song.name}}
            </div>
            <audio
                class="my-2"
                controls
                [src]="song.musicPath"></audio>
        </div>
    </div>
</div>
