<nav class="navbar border-bottom ">
    <div class="container justify-content-center">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link text-black" routerLink="/auth">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" routerLink="/songs">Songs</a>
            </li>
        </ul>
    </div>
</nav>
<div class="p-5 d-flex justify-content-center">
    <router-outlet></router-outlet>
</div>
